.home header .body {
  flex-direction: column;
}

.home header .body .intro {
  display: flex;
  width: 100%;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.home header .body .intro h1 {
  font-size: 2.5rem;
}
.home header .body .intro h1:last-child {
  padding-top: 30px;
}

.home header .body .register-btn-container {
  margin-top: 25px;
}

@media screen and (min-width: 900px) {
  .home header .body {
    flex-direction: row;
    gap: 0px;
  }

  .home header .body .intro {
    width: 44%;
    margin-bottom: unset;
  }
}
